# Устанавливает окончания строк для всех текстовых файлов
* text=auto

# Указывает Git, что все файлы в этих директориях или с этими расширениями должны иметь LF окончания строк
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Указывает Git, что все файлы в этих директориях или с этими расширениями должны иметь CRLF окончания строк
*.bat text eol=crlf
*.cmd text eol=crlf

# Исключает бинарные файлы из обработки окончаний строк
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.exe binary
